{% extends 'main/base.html' %}

{% block content %}
  <main class="form-signin w-50 m-auto">
    <form action="" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Регістрація</h1>
      <div class="form-floating">
        {{ form.username }}
        <label for="username">Логін</label>
      </div>
      <div class="form-floating">
        {{ form.password }}
        <label for="floatingPassword">Пароль</label>
      </div>
      <div class="form-floating">
        {{ form.first_name }}
        <label for="first_name">Ім'я</label>
      </div>
      <div class="form-floating">
        {{ form.last_name }}
        <label for="last_name">Прізвище</label>
      </div>
      <div class="form-floating">
        {{ form.email }}
        <label for="email">E-Mail</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Регістрація</button>
    </form>
  </main>
{% endblock %}