{% extends 'main/base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block content %}
<h1>Про нас</h1>
    <p>сайт пошуку роботи №1 в Україні. Провідні компанії України розміщують свої вакансії та знаходять співробітників за допомогою super-jobs. Ми робимо все, щоб кожному відвідувачу super-jobs запам’ятався як найзручніший, найшвидший та найефективніший сайт з працевлаштування.</p>
    <h4>Наша місія</h4>
    <p>Надавати найкращий сервіс пошуку роботи, щоб допомагати людям бути щасливішими та розвивати Україну. </p>
{% endblock %}
