{% extends 'main/base.html' %}

{% block title %}
Додати вакансiю
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="Jobtitle"><b>Вакансiя</b></label>
    {{ form.Jobtitle }}<br>
    <label for="Company"><b>Компанiя</b></label>
    {{ form.Company }}<br>
    <label for="Discription"><b>Опис</b></label>
    {{ form.Discription }}<br>
    <label for="JobDate"><b>Дата</b></label>
    {{ form.JobDate }}<br>
    <label for="Salary"><b>Розмiр зарплатнi</b></label>
    {{ form.Salary }}<br>
    <label for="Region"><b>Регiон</b></label>
    {{ form.Region }}<br>
    <button type="submit" class="btn btn-info">Додати</button>
</form>



{% endblock %}