{% extends 'main/base.html' %}

{% block title %}
Вакансiя
{% endblock %}

{% block content %}
    <div class = "alert alert-warning mt-2">
        <h3>Вакансия: {{ OneJob.Jobtitle }}</h3>
        <h5>Компанiя: {{ OneJob.Company }}</h5>
        <h5>Опис вимог роботодавця: {{ OneJob.Discription }}</h5>
        <h5>Дата розмiщення оголошення: {{ OneJob.JobDate }}</h5>
        <h5>Орієнтовна зарплата: {{ OneJob.Salary }}</h5>
        <h5>Регiон: {{ OneJob.Region }}</h5>

    </div>
    <h2>Коментарі:</h2>
    <ul>
    {% for comment in comments %}
        {% load static %}
        <li>{% if request.user.id == comment.user.id %}
            <a href="{% url 'comment_delete' id=comment.id %}">
                <img src="{% static 'images/delete.png' %}" alt="Видалити" title="Видалити" width="32" height="32" />
            </a>
            <a href="{% url 'comment_edit' id=comment.id %}">
                <img src="{% static 'images/edit.png' %}" alt="Редагувати" title="Редагувати" width="32" height="32" />
            </a>
            {% endif %}{{ comment.comment }}
        </li>
    {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
    <form action="{% url 'vacancy_add_comment' id=OneJob.id %}" method="post" autocomplete="off">
        {% csrf_token %}
        <label for="comment"><b>Ваш коментар</b></label>
        {{ comment_form.comment }}
        <button type="submit" class="btn btn-success">Додати коментар</button>
    </form>
    {% endif %}

{% endblock %}
